{
  "openapi": "3.0.1",
  "info": {
    "title": "CloseBot API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.closebot.com",
      "description": "CloseBot API Endpoint"
    }
  ],
  "paths": {
    "/account/apiKey": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create API Key",
        "description": "Creates a new API key.",
        "requestBody": {
          "description": "Key name",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyOutput"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List API keys",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/apiKey/{keyId}": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete API Key",
        "description": "Deletes an API key.",
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "description": "The key ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/agency/current": {
      "get": {
        "tags": [
          "Agency"
        ],
        "summary": "Get agency",
        "description": "Retrieve the current agency details.\r\n            \r\nCurrently, CloseBot accounts can only be part of one agency.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyDto"
                }
              }
            }
          }
        }
      }
    },
    "/agency/usage": {
      "get": {
        "tags": [
          "Agency"
        ],
        "summary": "Get usage",
        "parameters": [
          {
            "name": "scopes",
            "in": "query",
            "description": "Comma-separated list of scopes to retrieve. Scopes are: bots, storage, users, responses.",
            "style": "form",
            "schema": {
              "type": "string",
              "default": "bots,storage,users,responses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/agency/invite": {
      "post": {
        "tags": [
          "Agency"
        ],
        "summary": "Invite users",
        "requestBody": {
          "description": "Emails to invite",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUserInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUserInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUserInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Agency"
        ],
        "summary": "Revoke invitation",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "The invited email to revoke",
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/agency": {
      "get": {
        "tags": [
          "Agency"
        ],
        "summary": "List agencies",
        "description": "List all agencies the account is a part of.\r\n\r\nCurrently, CloseBot accounts can only be part of one agency.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgencyDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgencyDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgencyDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agency/billing/refill": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Refill agency wallet",
        "description": "Attempts to charge the payment method on file for the agency to refill the agency wallet.\r\n\r\n<strong>\r\nInvoking this endpoint will charge you. Use with caution.\r\n</strong>",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefillDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefillDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefillDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/agency/billing/refill/source/{sourceId}": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Refill source wallet",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "description": "The source ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefillDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefillDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefillDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/agency/billing/re-billing": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get re-billing settings",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReBillingDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReBillingDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReBillingDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Billing"
        ],
        "summary": "Update re-billing",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReBillingUpdateInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReBillingUpdateInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReBillingUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/agency/billing/balance": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get agency balance",
        "description": "Gets the balance of the agency.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceDto"
                }
              }
            }
          }
        }
      }
    },
    "/agency/billing/options": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get agency billing",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillingOptionsDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingOptionsDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingOptionsDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Billing"
        ],
        "summary": "Update agency billing",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingConfigInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingConfigInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingConfigInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillingOptionsDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingOptionsDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingOptionsDto"
                }
              }
            }
          }
        }
      }
    },
    "/agency/billing/balance/source/{sourceId}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get source balance",
        "description": "Gets the balance of the source.",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "description": "The source ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceDto"
                }
              }
            }
          }
        }
      }
    },
    "/agency/billing/transactions/source/{sourceId}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List source transactions",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "description": "The source ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status when included. Statuses are: pending, succeeded, failed.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Add source transaction",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "description": "The source ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSourceTransactionDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSourceTransactionDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddSourceTransactionDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionDto"
                }
              }
            }
          }
        }
      }
    },
    "/agency/billing/transactions": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List agency transactions",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status when included. Statuses are: pending, succeeded, failed.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agency/billing/usages": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List billed usages",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "The start time.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "The end time.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BilledUsageDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BilledUsageDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BilledUsageDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agency/billing/transactions/source/{sourceId}/{id}": {
      "delete": {
        "tags": [
          "Billing"
        ],
        "summary": "Delete source transaction",
        "parameters": [
          {
            "name": "sourceId",
            "in": "path",
            "description": "The source ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the transaction to delete.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/bot/ai": {
      "post": {
        "tags": [
          "Bot"
        ],
        "summary": "Create bot with AI",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiCreateBotInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AiCreateBotInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AiCreateBotInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              }
            }
          }
        }
      }
    },
    "/bot/{id}/source/{sourceId}": {
      "post": {
        "tags": [
          "Bot"
        ],
        "summary": "Attach a source to a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "description": "The source ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachSourceInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachSourceInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AttachSourceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Bot"
        ],
        "summary": "Detach a source from a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "description": "The source ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/bot": {
      "post": {
        "tags": [
          "Bot"
        ],
        "summary": "Create a new bot",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBotInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBotInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBotInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Bot"
        ],
        "summary": "List bots",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bot/{id}": {
      "delete": {
        "tags": [
          "Bot"
        ],
        "summary": "Delete a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "Bot"
        ],
        "summary": "Get a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Bot"
        ],
        "summary": "Update a bot",
        "description": "Updates fields in a bot.\r\n\r\nOnly non-null fields are updated. Any missing or null field is ignored.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBotInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBotInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBotInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBotErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBotErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBotErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBotErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBotErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBotErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bot/{id}/duplicate": {
      "post": {
        "tags": [
          "Bot"
        ],
        "summary": "Duplicate a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotDto"
                }
              }
            }
          }
        }
      }
    },
    "/bot/{id}/export": {
      "get": {
        "tags": [
          "Bot"
        ],
        "summary": "Export a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "botVersion",
            "in": "query",
            "description": "The bot version (x.y.z). If not provided, the latest version is exported.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExportBotResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportBotResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportBotResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bot/bbb/templates": {
      "get": {
        "tags": [
          "Bot"
        ],
        "summary": "Get bot builder builder templates",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bot/{id}/steps": {
      "get": {
        "tags": [
          "Bot"
        ],
        "summary": "Get steps for a version",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "botVersion",
            "in": "query",
            "description": "The bot version (x.y.z).",
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": { }
              },
              "application/json": {
                "schema": { }
              },
              "text/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/bot/nodeDescriptors": {
      "get": {
        "tags": [
          "Bot"
        ],
        "summary": "Get the node descriptors",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NodeInformation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeInformation"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeInformation"
                }
              }
            }
          }
        }
      }
    },
    "/bot/{id}/publish": {
      "post": {
        "tags": [
          "Bot"
        ],
        "summary": "Publish a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublishBotResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishBotResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishBotResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublishBotResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishBotResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishBotResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bot/{id}/save": {
      "post": {
        "tags": [
          "Bot"
        ],
        "summary": "Save a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveBotInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveBotInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SaveBotInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SaveBotResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveBotResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveBotResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SaveBotResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveBotResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveBotResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bot/{id}/saveTools": {
      "post": {
        "tags": [
          "Bot"
        ],
        "summary": "Save bot tools",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ToolInputDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ToolInputDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ToolInputDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotToolDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotToolDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotToolDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bot/{id}/version/{version}": {
      "put": {
        "tags": [
          "Bot"
        ],
        "summary": "Update a bot version",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVersionInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVersionInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVersionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/botMetric/agencySummary": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get agency summary",
        "parameters": [
          {
            "name": "sourceId",
            "in": "query",
            "description": "Optional source ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyDashboardSummaryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyDashboardSummaryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgencyDashboardSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/botMetric/actionCount": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get action count",
        "parameters": [
          {
            "name": "leadId",
            "in": "query",
            "description": "Optional lead ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "query",
            "description": "Optional source ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "botId",
            "in": "query",
            "description": "Optional bot ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Optional start date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Optional end date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/botMetric/actions": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get actions",
        "parameters": [
          {
            "name": "leadId",
            "in": "query",
            "description": "Optional lead ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "query",
            "description": "Optional source ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "botId",
            "in": "query",
            "description": "Optional bot ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Optional start date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Optional end date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "maxCount",
            "in": "query",
            "description": "Optional maximum number of actions to return.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotMetricAction"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotMetricAction"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotMetricAction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/botMetric/agencyMetric": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get agency metric",
        "parameters": [
          {
            "name": "metric",
            "in": "query",
            "description": "The metric to get. Valid options: responses, bookings, activeSources, contacts, totalStorage, revenue.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "The end date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "The resolution.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "query",
            "description": "Optional source ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/botMetric/bookingGraph": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get booking graph",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "The start date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "The end date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "The resolution. Valid options are hourly, daily, or monthly.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "query",
            "description": "Optional source ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/botMetric/leaderboard": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get global leaderboard",
        "parameters": [
          {
            "name": "metric",
            "in": "query",
            "description": "The metric to get. Valid options: responses, bookings, contacts.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "The end date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "numTopLeaders",
            "in": "query",
            "description": "The number of top leaders to return.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeaderboardResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeaderboardResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeaderboardResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/botMetric/localleaderboard": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get local leaderboard",
        "parameters": [
          {
            "name": "metric",
            "in": "query",
            "description": "The metric to get. Valid options: responses, bookings, contacts.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "The end date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "numSurroundingAgencies",
            "in": "query",
            "description": "The number of surrounding agencies to return.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeaderboardResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeaderboardResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeaderboardResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/botMetric/logs": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get logs",
        "parameters": [
          {
            "name": "botId",
            "in": "query",
            "description": "Optional bot ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "description": "Optional message ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "query",
            "description": "Optional source ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "description": "Optional lead ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionId",
            "in": "query",
            "description": "Optional action ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Optional start date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Optional end date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "maxCount",
            "in": "query",
            "description": "Optional maximum number of logs to return.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotMetricLog"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotMetricLog"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotMetricLog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/botMetric/messageCount": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get message count",
        "parameters": [
          {
            "name": "sourceId",
            "in": "query",
            "description": "Optional source ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "description": "Optional lead ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Optional start date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Optional end date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/botMetric/messageFeedback": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get messages with feedback",
        "parameters": [
          {
            "name": "leadId",
            "in": "query",
            "description": "The lead ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MessageFeedbackResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageFeedbackResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageFeedbackResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Save message feedback",
        "requestBody": {
          "description": "The message feedback request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageFeedbackRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageFeedbackRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MessageFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/botMetric/messageLikes": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get messages with likes",
        "parameters": [
          {
            "name": "leadId",
            "in": "query",
            "description": "The lead ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MessageLikesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageLikesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageLikesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/botMetric/messageReason": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get message feedback reason",
        "parameters": [
          {
            "name": "messageId",
            "in": "query",
            "description": "The message ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MessageReason"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageReason"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageReason"
                }
              }
            }
          }
        }
      }
    },
    "/botMetric/messages": {
      "get": {
        "tags": [
          "BotMetric"
        ],
        "summary": "Get messages",
        "parameters": [
          {
            "name": "sourceId",
            "in": "query",
            "description": "Optional source ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "description": "Optional lead ID.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Optional start date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Optional end date.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "maxCount",
            "in": "query",
            "description": "Optional maximum number of messages to return.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotMetricMessage"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotMetricMessage"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotMetricMessage"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/botVariables/{botId}/{sourceId}": {
      "get": {
        "tags": [
          "BotSourceVariable"
        ],
        "summary": "Get source variables",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "description": "The source ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotVariableDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotVariableDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotVariableDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "BotSourceVariable"
        ],
        "summary": "Update a source variable",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "description": "The source ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of variables to update.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BotVariableUpdateInput"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BotVariableUpdateInput"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BotVariableUpdateInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/botTemplates": {
      "get": {
        "tags": [
          "BotTemplate"
        ],
        "summary": "List templates",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotTemplateDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotTemplateDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotTemplateDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bot/{botId}/testSession": {
      "post": {
        "tags": [
          "BotTesting"
        ],
        "summary": "Create a test session",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TestSession"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestSession"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestSession"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "BotTesting"
        ],
        "summary": "List test sessions",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "maxCount",
            "in": "query",
            "description": "The maximum count.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ListLeadDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLeadDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLeadDto"
                }
              }
            }
          }
        }
      }
    },
    "/bot/{botId}/testSession/{leadId}": {
      "delete": {
        "tags": [
          "BotTesting"
        ],
        "summary": "Delete a test session",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "BotTesting"
        ],
        "summary": "Update a test session",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The update session input.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSessionDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSessionDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSessionDto"
                }
              }
            }
          }
        }
      }
    },
    "/bot/{botId}/testSession/{leadId}/force-step": {
      "post": {
        "tags": [
          "BotTesting"
        ],
        "summary": "Force processing",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/bot/{botId}/testSession/messages/{leadId}": {
      "get": {
        "tags": [
          "BotTesting"
        ],
        "summary": "Listen for messages",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/bot/{botId}/testSession/{leadId}/rollback": {
      "post": {
        "tags": [
          "BotTesting"
        ],
        "summary": "Rollback a test session",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotTestingRollbackInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BotTestingRollbackInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BotTestingRollbackInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BotTestingRollbackOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotTestingRollbackOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotTestingRollbackOutput"
                }
              }
            }
          }
        }
      }
    },
    "/bot/{botId}/testSession/message": {
      "post": {
        "tags": [
          "BotTesting"
        ],
        "summary": "Send a message to a test session",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "The bot ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestSessionMessageInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TestSessionMessageInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TestSessionMessageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/hierarchy": {
      "post": {
        "tags": [
          "Hierarchy"
        ],
        "summary": "Add a folder",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddHierarchyInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddHierarchyInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddHierarchyInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AddHierarchyOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddHierarchyOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddHierarchyOutput"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Hierarchy"
        ],
        "summary": "List folders",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListHierarchyResult"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListHierarchyResult"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListHierarchyResult"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/hierarchy/{id}": {
      "delete": {
        "tags": [
          "Hierarchy"
        ],
        "summary": "Delete a folder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the folder to delete.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Hierarchy"
        ],
        "summary": "Get a folder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the folder to get.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ListHierarchyResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHierarchyResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHierarchyResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Hierarchy"
        ],
        "summary": "Update a folder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the folder to update.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HierarchyInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/HierarchyInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/HierarchyInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/lead/{leadId}/ai-toggle": {
      "get": {
        "tags": [
          "Lead"
        ],
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LeadAiToggleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadAiToggleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadAiToggleDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Lead"
        ],
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadAiToggleUpdateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadAiToggleUpdateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LeadAiToggleUpdateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LeadAiToggleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadAiToggleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadAiToggleDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/lead/{leadId}": {
      "delete": {
        "tags": [
          "Lead"
        ],
        "summary": "Delete a lead",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The ID of the lead to delete.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Lead"
        ],
        "summary": "Get a lead",
        "parameters": [
          {
            "name": "leadId",
[...]
